# This is only for development mode
config/_default

# Build dirs
/public/
/dist/
.hugo.build.*.toml

# Developer overrides
hugo.local.toml

# Trash files
.DS_Store
*.swp
__pycache__/
*.egg-info/
.hugo_build.lock

# IDEs
.vscode
.idea

# Do not save temporary uv settings
.venv/
.python-version
uv.lock

# AI assistant
.claude/
