# This is only for development mode
config/_default

# Generated content
public/
dist/

# Developer overrides
hugo.local.toml

# Trash files
.DS_Store
*.swp

# Ignore test file
content/test.md
layouts/shortcodes/test.html
