flytekitplugins-airflow
flytekitplugins-awssagemaker
flytekitplugins-bigquery
flytekitplugins-openai
flytekitplugins-snowflake
flytekitplugins-spark
graphviz
jinja2
jupytext
myst-parser
nbformat
pyyaml
scikit-learn
sphinx
sphinx-click
sphinx-design
sphinx-book-theme
sphinx-copybutton
sphinx-docsearch
sphinxext-remoteliteralinclude
tensorflow
torch
union
