jinja2
jupytext
myst-parser
nbformat
pyyaml
sphinx
sphinx-click
sphinx-design
sphinx-book-theme
sphinx-copybutton
sphinx-docsearch
sphinxext-remoteliteralinclude
# pinned until Union auth issue is resolved
union==0.1.46
