{% extends "!page.html" %}
{{ super() }}

{% block extrahead %}
<!-- Google Tag Manager -->
<script>
(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, "script", "dataLayer", "GTM-WC8V9XS");
</script>
<!-- End Google Tag Manager -->
<script>
document.addEventListener("DOMContentLoaded", function() {

    // Get the current URL
    const currentUrl = new URL(window.location.href);
    const variant1 = 'serverless';
    const variant2 = 'byoc';

    // Function to replace all instances of a string in a URL path
    function replaceAllInstances(url, searchValue, newValue) {
        return url.split(searchValue).join(newValue);
    }

    // Determine the variant present in the URL, if any
    const containsVariant1 = currentUrl.href.includes(variant1);
    const containsVariant2 = currentUrl.href.includes(variant2);
    let serverlessUrl, byocUrl;

    if (containsVariant1) {
        // Generate new URLs by replacing "variant1"
        serverlessUrl = replaceAllInstances(currentUrl.href, variant1, variant1);
        byocUrl = replaceAllInstances(currentUrl.href, variant1, variant2);
    } else if (containsVariant2) {
        // Generate new URLs by replacing "variant2"
        serverlessUrl = replaceAllInstances(currentUrl.href, variant2, variant1);
        byocUrl = replaceAllInstances(currentUrl.href, variant2, variant2);
    } else {
        // If neither variant is present, do nothing
        return;
    }

    // Create a list to display the new URLs
    const linkList = document.createElement('ul');

    // Create the list items and links
    const serverlessListItem = document.createElement('li');
    const serverlessLink = document.createElement('a');
    serverlessLink.href = serverlessUrl;
    serverlessLink.textContent = 'Serverless Version';
    serverlessListItem.appendChild(serverlessLink);

    const byocListItem = document.createElement('li');
    const byocLink = document.createElement('a');
    byocLink.href = byocUrl;
    byocLink.textContent = 'BYOC Version';
    byocListItem.appendChild(byocLink);

    // Append the list items to the list
    linkList.appendChild(serverlessListItem);
    linkList.appendChild(byocListItem);

    // Find the div with the class 'variantList'
    const variantListDiv = document.querySelector('.variantList');

    // Append the list to the div
    if (variantListDiv) {
        variantListDiv.appendChild(linkList);
    }
});
</script>
{% endblock %}

{% block body %}
{{ super() }}

{% block docs_navbar %}
{{ super() }}
<div class="variantList"></div>
{% endblock docs_navbar %}

<!-- Google Tag Manager (noscript) -->
<noscript
  ><iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-WC8V9XS"
    height="0"
    width="0"
    style="display: none; visibility: hidden"
  ></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endblock %}
