{% extends "!page.html" %}
{{ super() }}

{% block extrahead %}
<!-- Google Tag Manager -->
<script>
(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, "script", "dataLayer", "GTM-WC8V9XS");
</script>
<!-- End Google Tag Manager -->
<!-- UnionAI docs variant switcher -->
<script>
document.addEventListener("DOMContentLoaded", function() {

    // Variant of the current page.
    // e.g., 'serverless'
    const currentVariant = document.getElementById('unionai-docs-current-variant').textContent;;

    // If this page does not have a variant value, return.
    if (currentVariant == null) {
        return;
    }

    // Object mapping variant name to display name
    // e.g., {'serverless': 'Serverless', 'byoc': 'BYOC'}
    const variantDisplayNames = JSON.parse(document.getElementById('unionai-docs-variant-display-names').textContent);

    // List of all variants
    const m = new Map(Object.entries(variantDisplayNames));
    const allVariants = Array.from(m.keys());

    // URL of current page
    // e.g., 'https://docs.unionai.com/serverless/guide/'
    const currentUrl = new URL(window.location.href);

    // Current URL in segments
    // e.g., ['serverless', 'guide']
    const currentUrlSegments = currentUrl.pathname.split('/').filter(Boolean);

    // Index of the current variant in the URL segments
    // e.g., 0
    const variantIndexInUrl = currentUrlSegments.indexOf(currentVariant);

    // An array of links, where each link is an object with a text and a url property
    // This array will be populated with links to the top of the website for all
    // variants (regardless of whether the current page has an equivalent in that variant)
    const topLinks = [];

    // For each variant, create a link to the top of that variant's section of the website
    // and add it to topLinks
    allVariants.forEach(variant => {
        const newUrlSegments = currentUrlSegments.slice(0, variantIndexInUrl);
        newUrlSegments.push(variant);

        const newUrl = new URL(currentUrl);
        newUrl.pathname = '/' + newUrlSegments.join('/');

        const link = {};
        link.text = variantDisplayNames[variant];
        link.url = newUrl.href;
        topLinks.push(link);
    });

    // Insert the links into the dropdown menu
    dropdownLinkContainers = document.getElementsByClassName('variant-selector-links');
    for (let container of dropdownLinkContainers) {
        topLinks.forEach(link => {
            const anchor = document.createElement('a');
            anchor.href = link.url;
            anchor.textContent = link.text;
            container.appendChild(anchor);
        })
    }

    // Insert the name of the current variant into the dropdown menu button
    dropdownTextContainers = document.getElementsByClassName('variant-selector-button')
    for (let container of dropdownTextContainers) {
        container.textContent = variantDisplayNames[currentVariant];
    }
})

</script>
<!-- End UnionAI docs variant switcher -->
{% endblock %}

{% block body %}
{%- if meta is mapping %}
    <div id="unionai-docs-variant-display-names" style="display: none;">{{ meta.get("variant-display-names") }}</div>
    <div id="unionai-docs-available-variants" style="display: none;">{{ meta.get("available-variants") }}</div>
    <div id="unionai-docs-current-variant" style="display: none;">{{ meta.get("current-variant") }}</div>
{%- endif %}
{{ super() }}

<!-- Google Tag Manager (noscript) -->
<noscript
  ><iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-WC8V9XS"
    height="0"
    width="0"
    style="display: none; visibility: hidden"
  ></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endblock %}
