header {
  height: var(--header-height);
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  padding: 0.25rem 1.5rem;
  z-index: 100;
}

header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

header .separator {
  margin: 0 2rem;
  opacity: 0.5;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 0.5rem;
}

.logo-container .title {
  color: unset;
  white-space: nowrap;
}

header label {
  font-weight: 500;
  color: var(--text-color);
}

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  border-radius: 0.375rem;
  transition: background-color 0.2s;
}

#theme-toggle:hover {
  background-color: var(--code-bg);
}

#sun-icon {
  display: block;
}

#moon-icon {
  display: none;
}

[data-theme="dark"] #moon-icon {
  display: block;
}

[data-theme="dark"] #sun-icon {
  display: none;
}

#variant-selector, #version-selector {
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  cursor: pointer;
}

#devwarn, #verwarn {
  color: gray;
  position: absolute;
  left: 500px;
  background: yellow;
  padding: 4px 8px;
  border: 1px solid yellow;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

#verwarn {
  left: 680px;
}

/* Create tooltip arrow */
#devwarn:before, #verwarn:before {
  content: "";
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 8px 8px 8px 0;
  border-style: solid;
  border-color: transparent #ccc transparent transparent;
}

/* Arrow overlay to match background */
#devwarn:after, #verwarn:after {
  content: "";
  position: absolute;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 8px 8px 8px 0;
  border-style: solid;
  border-color: transparent yellow transparent transparent;
}

header .toggle-sidebar {
  display: none;
}

sl-button.signup-button::part(base) {
  background-color: var(--union-color) !important;
  color: var(--sl-color-neutral-0) !important;
  border-color: var(--union-color) !important;
}

sl-button.signup-button::part(base):hover {
  border-color: var(--union-color-dark) !important;
  background-color: var(--union-color-dark) !important;
}

.variant-flyte sl-button.signup-button::part(base):hover {
  border-color: var(--union-color-light) !important;
  background-color: var(--union-color-light) !important;
}

.old-version {
  border: var(--old-version-border);
  background-color: var(--old-version-background);
  padding: 1rem 1.25rem;
  margin: 0 1.25rem 2rem 1.25rem;
}

.old-version .title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.old-version .message {
  font-size: 0.9rem;
}
