header {
  height: var(--header-height);
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  padding: 0.25rem 1.5rem;
  z-index: 100;
}

header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

header .separator {
  margin: 0 2rem;
  opacity: 0.5;
}

.sidebar .logo-container,
header .logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 0.5rem;
}
.sidebar .logo-container .title,
header .logo-container .title {
  color: unset;
  white-space: nowrap;
}

header label {
  font-weight: 500;
  color: var(--text-color);
}

header .theme-selector {
  margin-left: auto;
}

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  border-radius: 0.375rem;
  transition: background-color 0.2s;
}

#theme-toggle:hover {
  background-color: var(--code-bg);
}

#sun-icon {
  display: block;
}

#moon-icon {
  display: none;
}

[data-theme="dark"] #moon-icon {
  display: block;
}

[data-theme="dark"] #sun-icon {
  display: none;
}

#variant-selector {
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  cursor: pointer;
}

#devwarn {
  color: gray;
  position: absolute;
  left: 500px;
  background: yellow;
  padding: 4px 8px;
  border: 1px solid yellow;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

/* Create tooltip arrow */
#devwarn:before {
  content: "";
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 8px 8px 8px 0;
  border-style: solid;
  border-color: transparent #ccc transparent transparent;
}

/* Arrow overlay to match background */
#devwarn:after {
  content: "";
  position: absolute;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 8px 8px 8px 0;
  border-style: solid;
  border-color: transparent yellow transparent transparent;
}
