body {
  font-family: "Open Sans", sans-serif;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #333;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white;
}
.logo {
  height: 96px;
}
H1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.target-link-text {
  display: inline-block;
  border: none;
  background-color: #d97706;
  color: white;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease;
  position: relative;
  font-weight: 500;
}

.target-link-text A {
  color: unset;
  text-decoration: none;
}

.target-link-text:hover {
  background-color: hsl(32, 99%, 60%);
}

.nav {
  margin: 2rem 0;
}

.warn {
  border: 1px solid #d97706;
  margin-bottom: 2rem;
  opacity: 0.8;
}

.warn .title {
  background-color: #d97706;
  color: white;
  padding: 0.5rem;
}

.warn .content {
  padding: 1rem;
}