/* ==========================================================================
   Typography Styles
   ========================================================================== */

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    color: var(--pst-heading-color);
    font-family: var(--font-family-heading);

}

.h1,
h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}

.h2,
h2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}

.h3,
h3 {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 24px;
}


p {
    font-size: 16px !important;
    font-family: var(--font-family-base);
    font-weight: 400 !important;
    line-height: 26px !important;
    /* letter-spacing: 0.5px !important; */
}

a {
    color: var(--color-link-tertiary);
    text-decoration: none !important;
}

a.navbar-brand,
a.navbar-brand:hover {
    text-decoration: none !important;
}

.variant-dropdown-content a:hover {
    text-decoration: none !important;
}


a:hover {
    color: color-mix(in srgb, var(--color-link-tertiary) 80%, black);
    text-decoration: underline !important;
}

a:active,
a:visited {
    color: var(--pri-active-link-color) !important;
}

.surface {
    background-color: var(--color-surface);
}

.surface-container-lowest {
    background-color: var(--color-surface-container-lowest);
}

.surface-container-low {
    background-color: var(--color-surface-container-low);
}

.outlined {
    border: 1px solid var(--color-outline);
}

.outlined-variant {
    border: 1px solid var(--color-outline-variant);
}

.vertical-separator {
    border-left: 1px solid var(--color-outline-variant);
    height: 24px;
    margin: 0 10px;
}