{{- $v := now.Format "20060102150405" }}
{{- $variant := .Site.Params.variant -}}
{{- $access := partial "page-allowed.html" . -}}
{{- if $access.allowed -}}
<!DOCTYPE html>
<html lang="{{- .Site.Language.Lang -}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{- .Title -}} | {{- .Site.Title -}}</title>
    <link rel="icon" href="{{- "images/favicon.ico" | relURL -}}?v={{- $v -}}"/>
    <link rel="stylesheet" href="{{- "css/api.css" | relURL -}}?v={{- $v -}}" />
    <link rel="stylesheet" href="{{- "css/base.css" | relURL -}}?v={{- $v -}}" />
    <link rel="stylesheet" href="{{- "css/breadcrumb.css" | relURL -}}?v={{- $v -}}" />
    <link rel="stylesheet" href="{{- "css/card.css" | relURL -}}?v={{- $v -}}" />
    <link rel="stylesheet" href="{{- "css/codeblock.css" | relURL -}}?v={{- $v -}}" />
    <link rel="stylesheet" href="{{- "css/footer.css" | relURL -}}?v={{- $v -}}" />
    <link rel="stylesheet" href="{{- "css/header.css" | relURL -}}?v={{- $v -}}" />
    <link rel="stylesheet" href="{{- "css/images.css" | relURL -}}?v={{- $v -}}" />
    <link rel="stylesheet" href="{{- "css/key.css" | relURL -}}?v={{- $v -}}" />
    <link rel="stylesheet" href="{{- "css/markdown.css" | relURL -}}?v={{- $v -}}" />
    <link rel="stylesheet" href="{{- "css/mermaid.css" | relURL -}}?v={{- $v -}}" />
    <link rel="stylesheet" href="{{- "css/search.css" | relURL -}}?v={{- $v -}}" />
    <link rel="stylesheet" href="{{- "css/sidebar.css" | relURL -}}?v={{- $v -}}" />
    <link rel="stylesheet" href="{{- "css/tabs.css" | relURL -}}?v={{- $v -}}" />
    <link rel="stylesheet" href="{{- "css/toc.css" | relURL -}}?v={{- $v -}}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.0/cdn/themes/light.css" />
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/dark.css" />
    <script type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.0/cdn/shoelace-autoloader.js"></script>
    {{ if .Params.mermaid }}
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
      mermaid.initialize({
        startOnLoad: true,
        theme: 'base',
        themeVariables: {
          primaryColor: getComputedStyle(document.documentElement).getPropertyValue('--union-color').trim(),
          primaryTextColor: getComputedStyle(document.documentElement).getPropertyValue('--text-color').trim(),
          primaryBorderColor: getComputedStyle(document.documentElement).getPropertyValue('--border-color').trim(),
          lineColor: getComputedStyle(document.documentElement).getPropertyValue('--border-color').trim(),
          background: getComputedStyle(document.documentElement).getPropertyValue('--bg-color').trim(),
          edgeLabelBackground: getComputedStyle(document.documentElement).getPropertyValue('--bg-color').trim(),
          secondaryColor: getComputedStyle(document.documentElement).getPropertyValue('--union-color-very-light').trim(),
          tertiaryColor: getComputedStyle(document.documentElement).getPropertyValue('--union-color-very-light').trim(),
        }
      });
    </script>
    {{ end }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.32.2/tocbot.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.32.2/tocbot.min.js"></script>
    <script lang="javascript" src="{{- "js/key.js" | relURL -}}?v={{- $v -}}"></script>
    <script lang="javascript" src="{{- "js/theme.js" | relURL -}}?v={{- $v -}}"></script>
    <script lang="javascript" src="{{- "js/tags.js" | relURL -}}?v={{- $v -}}"></script>
    <link rel="stylesheet" href="{{- "css/responsive.css" | relURL -}}?v={{- $v -}}" />
  </head>
  <body>
    <header>{{- partial "header.html" . -}}</header>
    <div class="tabs">{{- partial "tabs.html" (dict "page" .) -}}</div>
    <div class="container">
      <div class="sidebar">{{- partial "sidebar.html" . -}}</div>
      <div class="main-content">
        {{- if $access.development -}}
        {{- $classes := slice "not-in-prod" "page-warn" }}
        {{- if $access.excluded -}}
        {{- $classes = $classes | append "not-allowed" -}}
        {{- else -}}
        {{- $classes = $classes | append "not-allowed" -}}
        {{- end -}}
        <div class='{{- delimit $classes " " -}}'>
          <div style="flex: 1">
            {{- if $access.excluded -}}
            This page was explicitly excluded from '{{- $variant -}}'.
            {{- else -}}
            This page visibility is not declared for '{{- $variant -}}'.
            <div class="not-allowed how-to-fix">
              <a href="https://github.com/unionai/docs-builder/blob/master/AUTHOR.md#page-visibility">How to fix?</a>
            </div>
            {{- end -}}
          </div>
          <code>{{- strings.TrimSuffix "/" .RelPermalink -}}</code>
        </div>
        {{- end -}}
        {{- partial "breadcrumb.html" . -}}
        {{- block "main" . -}}{{- end -}}
      </div>
      {{- partial "toc.html" . -}}
    </div>
  </body>
</html>
{{- end -}}
