{{ define "main" }}
{{- $variant := .Site.Params.variant -}}
{{- $upperVariant := strings.ToUpper $variant -}}
{{- $extraContent := readFile (printf "404.inc.html~%s" $variant) -}}
<script>
    // Extract query string parameters
    const url = new URL(window.location);
    const source = url.searchParams.get('source');
    const variant = url.searchParams.get('variant');
    const origin = url.searchParams.get('origin');

    document.addEventListener('DOMContentLoaded', function() {
        if (variant !== null) {
            const title = document.getElementById('title');
            title.innerHTML = source;

            const buttonContainer = document.getElementById('button-container');

            const button = document.createElement('sl-button');
            console.log(button);
            button.href = origin;
            button.innerHTML = `
                <sl-icon name="arrow-left"></sl-icon>
                Return to ${variant.toLocaleUpperCase()}
            `;
            buttonContainer.appendChild(button);

            // Show variant-change elements and hide direct elements
            document.querySelectorAll('.variant-change').forEach(el => {
                el.style.display = 'block';
            });

            document.querySelectorAll('.direct').forEach(el => {
                el.style.display = 'none';
            });
        }
    });
</script>
<div class="four-o-four container not-found">
    <div class="small-header">404</div>

    <h1 class="variant-change">
        Not available in {{ $upperVariant }}
    </h1>
    <h1 class="direct">
        Page not found
    </h1>

    <div class="sorry variant-change">
        Sorry, <span id="title" class="title"></span> is not available in {{ $upperVariant }}
    </div>
    <div class="sorry direct">
        Sorry, the page you're looking for does not exist
    </div>

    <div id="button-container"></div>

    <div class="content">
        {{ $extraContent | safeHTML }}
        {{ .Content }}
    </div>

    <div class="report">
        If you believe you have reached this page in error, please report it to us.
    </div>
</div>
{{ end }}