{{ define "main" }}
{{- $variant := .Site.Params.variant -}}
{{- $variantFullName := index .Site.Params.Key.product_full_name $variant -}}
{{- $extraContent := readFile (printf "404.inc.html~%s" $variant) -}}
<script>
    // Extract query string parameters
    const url = new URL(window.location);
    const source = url.searchParams.get('source');
    const variant = url.searchParams.get('variant');
    const origin = url.searchParams.get('origin');
    const targetVariant = url.searchParams.get('targetVariant');
    const targetHomeUrl = '/docs/' + targetVariant;

    document.addEventListener('DOMContentLoaded', function() {
        if (variant !== null) {
            const title = document.getElementById('title');
            title.innerHTML = source;

            const buttonContainer = document.getElementById('button-container');

            const button = document.createElement('sl-button');
            console.log(button);
            button.href = targetHomeUrl;
            button.innerHTML = `
                Go to ${targetVariant.toLocaleUpperCase()} home
            `;
            buttonContainer.appendChild(button);

            // Show variant-change elements and hide direct elements
            document.querySelectorAll('.variant-change').forEach(el => {
                el.style.display = 'block';
            });

            document.querySelectorAll('.direct').forEach(el => {
                el.style.display = 'none';
            });
        }
    });
</script>
<div class="four-o-four container not-found">
    <div class="direct small-header">404</div>

    <h1 class="direct">
        Page not found
    </h1>

    <div class="sorry variant-change">
        The page you were on (<span id="title" class="title"></span>) has no directly corresponding page in {{ $variantFullName }}.<br/>
        Try searching from the {{ $variantFullName }} home page.
    </div>
    <div class="sorry direct">
        Sorry, the page you're looking for does not exist
    </div>

    <div id="button-container"></div>

    <div class="content">
        {{ $extraContent | safeHTML }}
        {{ .Content }}
    </div>
</div>
{{ end }}