{# Displays links to the previous and next page in the TOCtree order. #}
<div class="prev-next-area">
  {%- if prev %}
    <a class="prev-page" href="{{ prev.link|e }}" title="{{ _('previous page') }}">
      <div class="prev-next-caret">
        <i class="fa-solid fa-angle-left"></i>
      </div>
      <div class="prev-next-info">
        <p class="prev-next-subtitle">{{ _("Previous") }}</p>
        <p class="prev-next-title">{{ prev_title or prev.title }}</p>
      </div>
    </a>
  {%- endif %}
  {%- if next %}
    <a class="next-page" href="{{ next.link|e }}" title="{{ _('next page') }}">
      
      <div class="prev-next-info">
        <p class="prev-next-subtitle">{{ _("Next") }}</p>
        <p class="prev-next-title">{{ next_title or next.title }}</p>
      </div>
      <div class="prev-next-caret">
        <i class="fa-solid fa-angle-right"></i>
      </div>
    </a>
  {%- endif %}
</div>

{% include "footer-content.html" %}