/* Basic styling for the dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--pst-color-surface);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--pst-color-text-muted);
    padding: 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Additional styling for customization */
.variant-picker-caption {
    color: var(--pst-color-text-muted);
}

.dropdown-button {
    background-color: var(--pst-color-surface);
    border: 1px solid var(--pst-color-border);
    border-radius: 1em;
    color: var(--pst-color-text-muted);
    display: inline-flex;
    padding: .5em;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
}

.dropdown-button:hover {
    box-shadow: 0 0 0 .1875rem var(--pst-color-link-hover);

}

