/* Basic styling for the dropdown menu */
button#dropdown-text::before {
    content: "Version:";
    margin-right: 0.3em;
    font-weight: bold;
}

.navbar-brand img {
    max-width: 80%;
    padding-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--pst-color-surface);
    width: 100%;
    min-width: 160px;
    box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.1);
    z-index: 1;
}

.dropdown-content a {
    color: var(--pst-color-text-muted);
    padding: 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-button {
    border: 1px solid var(--pst-color-border);
    border-left: none;
    border-right: none;
    border-radius: 0px;
    color: var(--pst-color-text-muted);
    display: inline-flex;
    padding: 1em .5em;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
}

.dropdown-button:hover {
    box-shadow: 0 0 0 .1875rem var(--pst-color-link-hover);
}

/* update styling for links to use yellow */
a,
.prev-next-area a p.prev-next-title,
nav.bd-links .current>a,
.toc-entry a.nav-link.active
{
    color: var(--pst-color-link-hover);
}

nav.bd-links .current>a,
.toc-entry a.nav-link.active {
    box-shadow: inset max(3px, .1875rem, .12em) 0 0 var(--pst-color-link-hover);
}

a:active, a:visited {
    color: #7652a2;
}

#dropdown-links a,
#dropdown-links a:visited {
    color: var(--pst-color-text-muted);
}
