




























/* a,
.prev-next-area a p.prev-next-title,
nav.bd-links .current>a,
.toc-entry a.nav-link.active {
    color: var(--primary-color);
} */

/* nav.bd-links .current>a,
.toc-entry a.nav-link.active {
    box-shadow: inset max(3px, .1875rem, .12em) 0 0 var(--primary-color);
} */



/* a:hover,
a:visited:hover,
#dropdown-links a:visited:hover {
    color: var(--primary-color);
} */

/* #dropdown-links a,
#dropdown-links a:visited {
} */



/* left sidebar nav width */

/* make sure page content fills up the page */
.bd-main .bd-content {
    /* justify-content: left; */
}



:root {
   
}



