<div class="flyte-banner">
    <a href="https://www.union.ai/docs/v1" target="_blank" class="flyte-banner-link" style="will-change: width, height; height: 3rem;" >
        <div>
            <strong>
                These are the 2.0 beta docs
            </strong>
        </div>
        <div class="flyte-banner-button">
            <div>
                Go to 1.0 docs
                <span class="new-tab-arrow text-weight-semibold">
                    ↗
                </span>
            </div>
        </div>
    </a>
</div>
