<div class="flyte-banner">
    <a href="https://www.linkedin.com/events/7343704541386686464" target="_blank" class="flyte-banner-link" style="will-change: width, height; height: 3rem;" >
        <div>
            <strong>
                This is the Flyte 2 beta documentation.
            </strong>
            For Flyte and Union 1 documentation
        </div>
        <div class="flyte-banner-button">
            <div>
                Click here
                <span class="new-tab-arrow text-weight-semibold">
                    ↗
                </span>
            </div>
        </div>
    </a>
</div>
