<div class="flyte-banner">
    <a href="https://www.union.ai/docs/v2" target="_blank" class="flyte-banner-link" style="will-change: width, height; height: 3rem;" >
        <div>
            These are the 1.0 docs. To check out the docs for
            <strong>
                Flyte + Union 2.0
            </strong>
        </div>
        <div class="flyte-banner-button">
            <div>
                Click here
                <span class="new-tab-arrow text-weight-semibold">
                    ↗
                </span>
            </div>
        </div>
    </a>
</div>
