<script
  async
  src="https://js.sitesearch360.com/plugin/bundle/54139.js"
></script>
<script>
  window.sitesearch360 = window.sitesearch360 || {};
  sitesearch360.settings = {
    searchBox: {
      placeholder: "Search…",
    },
    results: {
      embedConfig: {
        contentBlock: "main",
      },
      integrationType: "layover",
    },
    layout: {
      navigation: {
        flatTabs: true,
      },
    },
    filters: {
      enabled: true,
    },
    siteId: "union.ai",
  };
  sitesearch360.init = function () {
    var searchBox = document.getElementById(
      sitesearch360.settings.searchBox.id
    );
    var searchButton = document.getElementById(
      sitesearch360.settings.searchBox.buttonId
    );
    if (searchBox && searchButton) {
      searchBox.addEventListener("input", function () {
        sitesearch360.search(searchBox.value);
      });
      searchButton.addEventListener("click", function () {
        sitesearch360.search(searchBox.value);
      });
    }
  };
  document.addEventListener("DOMContentLoaded", function () {
    sitesearch360.init();
  });
</script>
<div class="search">
  <section role="search" data-ss360="true">
    <input type="search" id="searchBox" placeholder="Search…" />
    <button id="searchButton"></button>
  </section>
</div>
